---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="History and Information"
	pubDate={new Date('June 14 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		History of IVs blurb

		Following Sydney 2025's revival after a stint of COVID
	</p>

	<p>
		Outline of dates:
	</p>

	<h2> Arrival - 9th January </h2>
	<p>
		blah blah
	</p>
	<h2> Rehearsal Camp - 10th-x January </h2>
	<p>
		blah blah
	</p>
	<h2> Concert - x January </h2>
	<p>
		blah blah
	</p>
	<h2> Repotoire </h2>
	<p>
		blah blah, links
	</p>

</Layout>
