---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

  <body>
	<Header />
	<br> </br>
    <h2 class="center"> Committee </h2>
  <p class="center"> get to know the committee that are working hard to bring you the festival in 2026! </p>

<br> </br>

  <table>
    <tr>
      <th>Role</th>
      <th>Name</th>
      <th>Contact</th>
    </tr>
    <tr>
      <td>Convenor</td>
      <td>Emma Vickers</td>
      <td>xxx</td>
    </tr>
    <tr>
      <td>Secretary</td>
      <td>Lauren Ashman</td>
      <td>xxx</td>
    </tr>
  <tr>
      <td>Treasurer</td>
      <td>Suzannah Ridley</td>
      <td>xxx</td>
    </tr>
  <tr>
      <td>Camp Officer</td>
      <td>Gerrie Titulaer</td>
      <td>xxx</td>
    </tr>
  <tr>
      <td>Concert Manager</td>
      <td>Kieran Connor</td>
      <td>xxx</td>
    </tr>
  <tr>
      <td>Social Secretary</td>
      <td>Winsome Law</td>
      <td>xxx</td>
    </tr>
  <tr>
      <td>Webmaster</td>
      <td>Lucy Yang-Tobler</td>
      <td>xxx</td>
    </tr>
  <tr>
      <td>Transport & Billeting</td>
      <td>Lucy Stockwell</td>
      <td>xxx</td>
    </tr>
   <tr>
      <td>Librarian & Scuna Liason</td>
      <td>Jon Price</td>
      <td>xxx</td>
    </tr>
   <tr>
      <td>General Member</td>
      <td>Jason Green</td>
      <td>xxx</td>
    </tr>
  </table>



  <Footer />

</body>


