---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<div class="welcome">
		<span class="welcome">
			<h1 class="welcometext">hi chat</h1>
		</span>
		</div>
			<p>
				hi i have a website what thats crazy
			</p>
			
			<p>heres a list</p>
			<ul>
				<li>this is an unordered list isnt that crazy</li>
				<li>thats so crazy</li>
				<li>yeah</li>
				<li>okay whatever</li>
			</ul>
			
			<p>
				dont @ me
			</p>
		</main>
		<Footer />
	</body>
</html>
