---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>CHORAL INTERVARSITY FESTIVAL COMING TO CANBERRA IN 2026</h1>
			<p>
				The 72nd Choral Intervarsity Festival is coming to Canberra in 2026! We are glad to be back after the COVID stint. 
				Stay tuned - this site is not ready yet and there are many more updates to come.
			</p>
			
			<p>The Choral IV is a community-focused musical experience involving:</p>
			<ul>
				<li>A ten-day long choral bootcamp</li>
				<li>Fun social events each day</li>
				<li>An upscale dressy dinner...</li>
				<li>All culminating in a concert in a beautiful Canberra venue!</li>
			</ul>
			
			<p>
				Have any questions? Please contact us HERE or via Facebook.
			</p>
		</main>
		<Footer />
	</body>
</html>
